<body>
  <div class="container my-5">
    <div class="row p-3 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
      <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
        <h1 class="display-4 fw-bold lh-1">Configure your own Labyrinth!</h1>
        &nbsp;
        <p class="lead">In the following Configurator you can design and play your own Labyrinth! In just three steps you can choose the design, layout and player of your own maze. After that, you can play your previously configured maze in the browser. To get highscores you have to register first.</p>
        &nbsp;
        <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
          <button routerLink= "configurator" type="button" class="btn btn-primary btn-lg px-4 fw-bold">Configurator</button>
          <button routerLink= "game" type="button" class="btn btn-outline-secondary btn-lg px-4">Game</button>
        </div>
      </div>
      <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
          <img class="rounded-lg-3" src="https://i.pinimg.com/564x/01/5c/28/015c28328db0a1054e5f7fe8812da9dd--geek-art-arte-digital.jpg" alt="" width="720">
      </div>
    </div>
  </div>

</body>
