<body class="text-center">
  <div class="container my-5">
      <div class="row p-3 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
          <main class="form-signin w-100 m-auto">
            <div *ngIf="!isLoggedIn; else loggedIn">
              <form [formGroup]="signupForm">
                <img class="mb-4" src="https://creazilla-store.fra1.digitaloceanspaces.com/cliparts/3158951/maze-clipart-xl.png" alt="" width="64" height="42">
                <h1 class="h3 mb-3 fw-normal">Sign-Up</h1>

                <div class="form-floating">
                  <input type="username" class="form-control" id="floatingInput" placeholder="User" formControlName="userInput">
                  <label for="floatingInput">Username</label>
                </div>
                <div class="form-floating">
                  <input type="password" class="form-control" id="floatingPassword" placeholder="Password" formControlName="passwordInput">
                  <label for="floatingPassword">Password</label>
                </div>
                <div *ngIf="errorMessage != ''">
                  <p class="errorText">{{errorMessage}}</p>
                </div>
                &nbsp;
                <button (click)="signupUser()" class="w-100 btn btn-lg btn-primary" type="submit">Register</button>
                <p class="mt-5 mb-3 text-muted">&copy; 2022–2023</p>
              </form>
            </div>
            <ng-template #loggedIn>
              <img class="mb-4" src="https://creazilla-store.fra1.digitaloceanspaces.com/cliparts/3158951/maze-clipart-xl.png" alt="" width="64" height="42">
              <h1 class="h3 mb-3 fw-normal">Youre already Logged In</h1>
              &nbsp;
              <button routerLink="" class="w-100 btn btn-lg btn-primary" type="submit"> Back to Home</button>
              <p class="mt-5 mb-3 text-muted">&copy; 2022–2023</p>
            </ng-template>

            </main>
      </div>
  </div>
</body>
