.card{

    transition: all 0.2s ease;
    cursor: pointer;
    image-rendering: pixelated;
    width: auto;
    padding: 0px !important;
    margin: 0px !important;
  }
  
  .card:hover{
    transform: scale(1.02);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
  }
  
.clicked {border: 2px solid blue;}

.row{
  gap: 10px;
  justify-content: center;
}

.nopad{
  padding: 0px !important;
  margin: 0px !important;
  flex: 0 1 auto !important;
}